[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/SmilodonCub/DS4VS/blob/master/Week1/DS4VS_week1_pylab.ipynb)

# Week 1 PyLab: Python Primitives and Built-in Types

<br>

## An Introduction to the Jupyter Notebook Environment

A Guided Tour:

* Drop-down menus above
* [Key-board shortcuts](http://maxmelnick.com/2016/04/19/python-beginner-tips-and-tricks.html)
* Command vs Edit mode

<br>

In [ ]:
import this

<br>

## Getting started with Python

Some Pythonic Properties:  

* **whitespace** is important - python uses whitespace the same way that other languages (e.g. C use {})  
* **dynamic language** - not forced to declare the types of all variables  
* **strongly typed** - the type of an object doesn't change (even if the value does)  
* **mutable** - the type of an object determines if the associated data value can change

#### Variables 

names for values/objects in memory that you would like to reference in Python

Variable Name Rules:  

* names may contain UPPER/lower case letters, digits and the `_` 
* names cannot begin with a number
* names are case sensitive
* names cannot be chosen from Pythons reserved words 

<br>

In [ ]:
#list Python's keywords
import keyword
print( keyword.kwlist )

<br>

Examples of valid variable names:  

* `a`
* `b1`
* `c_2`
* `d_e__f3`

Invalid variable names:  

* `1`
* `1b`
* `var1!`
* `var-2`

<br>

#### Variable Assignment

In Python, use the `=` sign the assign a value to a variable  
`=` means assigning the value on the right to the variable to the left  
The statement $x = 23$ can be interpreted as assigning 23 to x

<br>

In [ ]:
x = 3
y = 7
z = x + y
print( z )

In [ ]:
# variables are just names!
a = 7
print( a )
print( hex( id( a ) ) )

b = a
print( b )
print( hex( id( b ) ) )

In [10]:
two = deux = zwei = 2
print( two, deux, zwei )
deux = 3
print( two, deux, zwei )

2 2 2
2 3 2

Think of objects as boxes that hold a value and a type. A variable is just a name that points towards the object

#### Primitive Data Types 
data types which are predefined and supported by the python programming language's base library  

Python Primitive Data Types:  

1. Integers
2. Floats
3. Booleans
4. Strings

In [11]:
a = 7
b = a
print( 'type a:', type( a ) )
print( 'type b:', type( b ) )
print( 'type 58:', type( 58 ) )
print( 'type 3.3333:', type( 3.3333 ) )
print( "type 'abd':", type( 'abc' ) )

type a: <class 'int'>
type b: <class 'int'>
type 58: <class 'int'>
type 3.3333: <class 'float'>
type 'abd': <class 'str'>

<br>

### Booleans 

**boolean data types** - only take a `True` or `False` value  
declare a bool with the `bool()` function

In [12]:
# True bools
print( bool( True ) )
print( bool( 1 ) )
print( bool( 23 ) )
print( bool( -1 ) )

True
True
True
True

In [13]:
# False bools
print( bool( False ) )
print( bool( 0 ) )
print( bool( 0.0 ) )

False
False
False

<br>

### Integers

**Intergers** - are whole numbers

Integer Operations

| **Operator** |        **Description**        | **Example** | **Result** |
|:------------:|:-----------------------------:|-------------|------------|
|       +      |            Addition           |    5 + 8    |     13     |
|       -      |          Subtraction          |    90-10    |     80     |
|       *      |         Multiplication        |    4 * 7    |     28     |
|       /      |    Floating-point division    |    7 / 2    |     3.5    |
|      //      | Integer (truncating) division |    7 // 2   |      3     |
|       %      |      Modulus (remainder)      |    7 % 2    |      1     |
|      **      |         Exponentiation        |    3 ** 4   |     81     |


Order of Operations: PEMDAS  

1. **P** - Parentheses 
2. **E** - Exponents
3. **M** - Multiplication
4. **D** - Division
5. **A** - Addition
6. **S** - Subtraction

In [14]:
# Literal Integers
( 23 + 2 ) ** (1/2)

5.0

In [15]:
9 / 5

1.8

In [16]:
9 // 5

1

In [17]:
9 % 5

4

In [18]:
4+5   +9   +   10

28

In [19]:
9 / 0

ZeroDivisionError: division by zero

In [20]:
# Intergers as Variables 
x = 4
9 / ( 4-x )

ZeroDivisionError: division by zero

In [37]:
a = 100
print( a )
a -= 10
print( a )

IndentationError: unexpected indent (<ipython-input-37-48af49de61d0>, line 2)

In [22]:
a += 10
print( a )

100

In [23]:
b = 10
a = a + b
print( a )

110

In [24]:
a *= 2
print( a )

220

In [25]:
a /= 3
print( a )

73.33333333333333

In [26]:
a //= 2
print( a )

36.0

In [27]:
# use the function divmod to return both the truncated division and the modulus
b = 100
divmod( b,3 )

(33, 1)

<br>

### Floats

**floats** - numbers with a decimal point

In [29]:
a = 5.
b = 5.0
c = 05.0
d = 5e0

print( a,b,c,d )

5.0 5.0 5.0 5.0

when statements/expression mix floats and ints, Python promotes the result to a float

In [30]:
a = 5.
b = 5
c = a ** b 
print( c )

3125.0

<br>

### Stings

**strings** - a sequence of characters.  
Strings are immutable in Python - you cannot change a string, but you can copy parts and join with other strings to achieve the same result

In [31]:
a = 'Snap'
b = "Crackle"
c = """
Pop!
Pop!
Pop!
"""
print( a,b,c )

Snap Crackle
Pop!
Pop!
Pop!

In [33]:
a = "I'd like to go home"
b = 'I said, "I\'d like to go home!"'
print( a )
print( b )

I'd like to go home
I said, "I'd like to go home!"

In [36]:
# Math operations with strings ... ?
a = 'a '
b = 'fun ' 

# combine using +
c = 'time ' + 'together'
print( a + b + c )

# duplicate with *
print( a + b*3 + c )

a fun time together
a fun fun fun time together

In [38]:
# Access an element of a string
numstring = '0123456'

#access the first character by using the offset
numstring[0]

'0'

In [39]:
idx = 5
numstring[ idx ]

'5'

In [44]:
# Slicing a string
letters = 'abcdefghijklmnopqrstuvwxyz'

print( len( letters ) )

# select everything
print( letters[:] )

# slice everything before an offset
print( letters[:5] )

# slice everything after an offset
print( letters[20:] )

# slice with an inclusive start and an exclusive stop
print( letters[5:20] )

26
abcdefghijklmnopqrstuvwxyz
abcde
uvwxyz
fghijklmnopqrst

In [48]:
# you can get fancy with slicing

#slice every other letter
print( letters[ ::2] )

#print every other letter within a slice
print( letters[4:20:2] )

#slice by referencing a negative offset
print( letters[ -5: ]) 

#slice in reverse order
print( letters[ ::-1 ] )

acegikmoqsuwy
egikmoqs
vwxyz
zyxwvutsrqponmlkjihgfedcba

<br>

#### String Methods

strings are sequences of elements. they have more complex behavior than the primitive numeric types and bools. There are many helpful methods, or built in functionality that Python has implemented to help work with strings

A user friendly list of string methods can be found at [w3schools.com](https://www.w3schools.com/python/python_ref_string.asp)  
Python, of course, provides a detailed [documentation of string methods](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)  

<br>

In [49]:
# Splitting with split()

sent = 'I would like a sundae with scoops of chocolate, vanilla, and strawberry topped with sprinkles, choclate syrup and a cherry on top'
sent.split(',')

['I would like a sundae with scoops of chocolate',
 ' vanilla',
 ' and strawberry topped with sprinkles',
 ' choclate syrup and a cherry on top']

In [51]:
# Combine strings with join()

tools = ['Python', 'jupyter', 'Git', 'command line', 'Anaconda', 'Slack']
tools_string = ', '.join( tools )
tools_string

'Python, jupyter, Git, command line, Anaconda, Slack'

In [56]:
# Replace parts of a string with replace()

joke = 'a guy walks into a bar'
print( joke )
joke = joke.replace( 'guy', 'graduate student' )
print( joke )
joke = joke.replace( 'a ', 'a fabulous ', 100 )
print( joke )

a guy walks into a bar
a graduate student walks into a bar
a fabulous graduate student walks into a fabulous bar

In [62]:
# Searching Strings

poem = """The outlook wasn't brilliant for the Mudville nine that day:
The score stood four to two, with but one inning more to play,
And then when Cooney died at first, and Barrows did the same,
A pall-like silence fell upon the patrons of the game.

A straggling few got up to go in deep despair. The rest
Clung to the hope which springs eternal in the human breast;
They thought, 'If only Casey could but get a whack at thatâ€”
We'd put up even money now, with Casey at the bat.''
"""

print( poem.startswith( 'The outlook' ) )
print( poem.endswith( 'The end' ) )

# find the offseet of the first occurance of a substring
print( poem.find( 'Casey' ) )

# count occurances of a substring
print( poem.count( 'the' ) )

True
False
382
8

In [63]:
# manipulating case

print( joke )

# capitalize
print( joke.capitalize() )

# Title Case
print( joke.title() )

# UPPER CASE
print( joke.upper() )

print( joke )

a fabulous graduate student walks into a fabulous bar
A fabulous graduate student walks into a fabulous bar
A Fabulous Graduate Student Walks Into A Fabulous Bar
A FABULOUS GRADUATE STUDENT WALKS INTO A FABULOUS BAR
a fabulous graduate student walks into a fabulous bar

In [66]:
# Formatting: {} and format()

excuses = [ 'dog', 'dogs', 'racoon', 'duck', 'bear', 'shark' ]
objects = [ 'homework', 'lunch' ]

for anobject in objects:
    for excuse in excuses:
        print( 'The {} ate my {}!!!'.format( excuse, anobject ) )

The dog ate my homework!!!
The dogs ate my homework!!!
The racoon ate my homework!!!
The duck ate my homework!!!
The bear ate my homework!!!
The shark ate my homework!!!
The dog ate my lunch!!!
The dogs ate my lunch!!!
The racoon ate my lunch!!!
The duck ate my lunch!!!
The bear ate my lunch!!!
The shark ate my lunch!!!

In [68]:
# formatting strings with f-strings

teacher = 'bonnie cooper'
theclass = 'DATA SCIENCE TOOLS FOR VISION SCIENCE APPLICATIONS'

f'{teacher.title()} is teaching a new course, "{theclass.title()}"'

'Bonnie Cooper is teaching a new course, "Data Science Tools For Vision Science Applications"'

<br>

### Type Casting

In [72]:
# casting other types as strings
print( str( 5 ) )
print( str( 3.3333 ) )

x = 23
print( str( x ) )

abool = True
print( str( abool ) )

5
3.3333
23
True

In [73]:
# casting strings as other types
string1 = '5'
string2 = '5.67'
string3 = 'True'
string4 = 'five'
string5 = '6 '